<section>
  <p>If you're interested in discussing further, and would like to reserve a free consultation, please fill out the form below and I'll be in contact within 24 hours.</p>
  <form action="https://formspree.io/f/chris@yellowfeather.co.uk" method="post">
    <input type="hidden" name="_next" value="//yellowfeather.co.uk/contact/thankyou/">
    <input type="hidden" name="_subject" value="New consultation request!">
    <input type="text" name="_gotcha" style="display:none">
    <input type="text" name="name" placeholder="What is your name?">
    <input type="email" name="_replyto" placeholder="What is your email address?">
    <textarea name="_message" placeholder="Is there anything specific you'd like to discuss?" rows="6"></textarea>
    <input type="submit" value="Reserve Your Free Consultation">
  </form>
</section>
