<header class="navigation">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <img src="/img/logo.png" alt="Logo Image">
    </a>
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><a href="/">Home</a></li>
        <li class="nav-link"><a href="/work/">Work</a></li>
        <li class="nav-link"><a href="/services/">Services</a></li>
        <li class="nav-link"><a href="/blog/">Blog</a></li>
        <li class="nav-link"><a href="/about/">About</a></li>
        <li class="nav-link"><a href="/contact/">Contact</a></li>
      </ul>
    </div>
  </div>
</header>
