.post-summary {
  $post-summary-gutter: 1.4em;
  $post-summary-image-padding: .7em;
  $post-summary-image-width: 4em;
  $post-summary-color: $base-font-color;
  $post-summary-background: lighten($base-accent-color, 15);
  $post-summary-detail-color: transparentize($post-summary-color, .5);
  $post-summary-image-vert-alignment: top;

  display: table;
  width: 100%;
  margin-bottom: $base-spacing;
  padding-bottom: 1em;
  border-bottom: 1px solid transparentize($post-summary-color, .9);

  .post-summary-image,
  .post-summary-content {
    display: table-cell;
    vertical-align: $post-summary-image-vert-alignment;
  }

  .post-summary-image {
    padding-right: $post-summary-gutter;

    > img {
      width: $post-summary-image-width;
      height: auto;
      /*border-radius: $base-border-radius;*/
      /*padding: $post-summary-image-padding;*/
      /*background: $post-summary-background;*/
      display: block;
      max-width: none;
    }

    .post-summary-reverse-order & {
      padding-right: 0;
      padding-left: 10px;
    }
  }

  .post-summary-content {
    width: 100%;

    h1 {
      font-size: 2em;
      margin-bottom: .5em;
    }

    p {
      margin-bottom: .5em;
    }

    p.post-summary-detail {
      font-style: italic;
      font-size: .9em;
      color: $post-summary-detail-color;
    }
  }
}

