header.major {
  text-align: center;
}

blockquote {
  margin-right: 8em;
}

form {
  input,
  textarea {
    margin-bottom: 1em;
  }
}

#header h1:before {
  content: none;
}

.logo {
  img {
    margin-top: 2.5px;
    max-height: 3.5em;
  }
}

@include breakpoint(small) {
  .logo {
    img {
      margin-top: 2.5px;
      max-height: 3em;
    }
  }
}

@include breakpoint(medium) {
  .logo {
    img {
      margin-top: 2.5px;
      max-height: 3em;
    }
  }
}
