    <!-- Footer -->
      <footer id="footer">
        <div class="content">
          <div class="inner">
             <section class="about">
              <h3>Yellow Feather</h3>
              <p>
                Established in 1997, Yellow Feather has been providing web and mobile software development to a wide range of clients across the industrial, commercial and public sectors for nearly 20 years.
              </p>
            </section> 
             <ul class="icons bulleted">
              <li class="icon fa-map-marker">
                <h3>Address</h3>
                <p>
                  Yellow Feather Ltd<br />
                  23 Fairfield Road<br />
                  Winchester<br />
                  Hampshire<br />
                  SO22 6SF<br />
                  United Kingdom
                </p>
              </li>
            </ul>
            <ul class="icons bulleted">
              <li class="icon fa-phone">
                <h3>Phone</h3>
                <p>+44 (0) 1962 853322</p>
              </li>
              <li class="icon fa-envelope-o">
                <h3>Email</h3>
                <p><a href="mailto:hello@yellowfeather.co.uk" title="Email">hello@yellowfeather.co.uk</a></p>
              </li>
            </ul>
          </div>
        </div>
        <p class="copyright">&copy; Yellow Feather Ltd. All rights reserved.</p>
      </footer>
